section(class="canvas front" id="front")

    div(class="content")

        h2 MetaRaiders

        div

            p Scavenge, hunt, and steal your opponents NFT's.

            div

                a(href="#section-2") Characters
                a(href="#section-3") Game

    +nav-1({ target: "section-1", direction: "next" })
