section(class="canvas section-1" id="section-1")

    h2 About

    div(class="content")

        div

            img(src="images/home/section-1/_inline/game-pfp2.png" inline)
            
            
            article

                h2 Utility first, PFP second.

                p.
                    - Partnerships 
                    - Staking Rewards (stake to allow others to use character in game?)
                pre. 
                    Verified Smart contract address: 

    +nav-1({ target: "section-2", direction: "next" })
