section(class="canvas section-2" id="section-2")

    h2 Built right.

    div(class="content")

        div

            svg: use(xlink:href="/assets/images/_sprites/symbols.svg#light-bulb-11")

            article

                h2 Intellectual Property (IP)
                p.
                    Ownership and commercial usage rights given to the NFT holder.

        div

            svg: use(xlink:href="/assets/images/_sprites/symbols.svg#ethereum-eth-logo")

            article

                h2 ERC-721
                p.
                    MetaRaider character NFT's are minted on the Ethereum blockchain and carbon offset. IPFS hosted.

        div

            svg: use(xlink:href="/assets/images/_sprites/symbols.svg#universe-galaxy")

            article

                h2 Utility
                p.
                    All MetaRaiders NFT's function as characters and accessories in the MetaRaiders video game.

    

        div

            svg: use(xlink:href="/assets/images/_sprites/symbols.svg#universe-galaxy-planet-space")

            article

                h2 Metaverse
                p.
                    Gain access to the MetaRaiders Universe. Built using Unreal Engine.

    +nav-1({ target: "section-3", direction: "next" })
