section(class="canvas section-1" id="section-1")

    h2 About

    div(class="content")

        div

            img(src="images/home/section-1/_inline/image.svg" inline)

            article

                h2 Utility first, PFP second.

                p.
                    Utility, PFP. 
                    - You own the IP.
                    - Minted on ETH 
                    - IPFS hosted/on chain (utility)
                    - Access to MetaRaiders Universe
                    - Partnerships 
                    - Staking Rewards (stake to allow others to use character in game?)

    +nav-1({ target: "section-2", direction: "next" })
